body {
  background-color: hsla(185, 87%, 28%, 0.968);
}

.profile {
  padding: 260px 150px;
  width: 190px;
  margin: 100px auto;
  position: relative;
  background-color: hsl(185, 90%, 46%);
  border-radius: 8px;
}
.image {
  top: 0px;
  margin: -65px auto;
  position: absolute;
  right: 180px;
}
img {
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  width: 120px;
}

.details {
  background-color: white;
  padding: 50px;
  width: 390px;
  position: absolute;
  right: 0px;
  top: 166px;
  height: 260px;
  border-radius: 8px;
}
.name {
  margin: 30px 90px;
  padding: 5px;
  display: inline-block;
}
.age {
  color: hsla(227, 10%, 46%, 0.817);
  display: inline;
  margin-left: -50px;
}
.city {
  color: hsla(227, 10%, 46%, 0.817);
  margin: 0px 145px;
}
h3 {
  color: hsla(227, 10%, 46%, 0.817);
}
.Followers {
  margin: 40px 5px;
}
.Likes {
  position: absolute;
  top: 211px;
  right: 200px;
}
.Photos {
  position: absolute;
  top: 211px;
  right: 50px;
}
h3 {
  letter-spacing: 3px;
  padding: 10px 5px;
}
